/* You can add global styles to this file, and also import other style files */
 @import '~bootstrap/dist/css/bootstrap.min.css';


 body{
   background: linear-gradient(rgba(0,0 ,0,0.2),rgba(0,0 ,0,0.2)), url('./assets/trees-g276307e11_1280.jpg');
   /* background-image: url('./assets/trees-g276307e11_1280.jpg'); */
   background-position: center;
   background-size: cover;
   height: 100vh;
 }
